<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petagramfcmlite">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="Petagram FCM Lite"
        android:supportsRtl="true">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Messaging Service will be declared in code -->
    </application>
</manifest>
